body {
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  font-size: small;
}

h1 {
  color: #272142;
  font-size: 38px;
  font-weight: 700;
  line-height: 29px;
  margin: 5px 0 10px;
}

li {
  color: #272142;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin-bottom: 5px;
  margin: 0;
  padding: 0;
}

#condition:first-letter {
  text-transform: capitalize;
}
.main-weather {
  margin-bottom: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 40px auto;
}

.weather-app {
  border: 1px solid #272142;
  border-radius: 5px;
  padding: 25px;
}

.weather-temperature img {
  margin-right: 9px;
  max-width: 64px;
  line-height: 60px;
}

.temperature-digit {
  font-weight: 300;
  font-size: 64px;
  line-height: 60px;
}

.temperature-unit {
  position: relative;
  font-size: 15px;
}

#search-bttn {
  padding: 5px 15px;
  width: 100;
  border: 1px solid #272142;
  border-radius: 5px;
}

#search-box {
  margin-bottom: 20px;
}

.weather-temperature .active {
  color: #272142;
  text-decoration: none;
  font-weight: bold;
}

.weather-temperature .active:hover {
  cursor: default;
}

a {
  text-decoration: none;
}
