body {
  font-family: Arial, Helvetica, sans-serif;
}

.weather-app {
  max-width: 600px;
  margin: 40px auto;
  border: 1px solid #272142;
  border-radius: 5px;
  padding: 25px;
}

footer {
  margin-left: 250px;
}

h1 {
  color: #272142;
  font-size: 38px;
  font-weight: 700;
  line-height: 29px;
  margin: 5px 0 10px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  color: #272142;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin-bottom: 5px;
  margin: 0;
  padding: 0;
}
