a {
  text-decoration: none;
  color: #774181;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  font-size: small;
}

h1 {
  color: #272142;
  font-size: 38px;
  font-weight: 700;
  line-height: 29px;
  margin: 5px 0 10px;
}

input::placeholder {
  color: #774181;
  text-decoration-color: #774181;
}

li {
  color: #272142;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin-bottom: 5px;
  margin: 0;
  padding: 0;
}

strong {
  color: #272142;
}

ul {
  margin: 0;
  padding: 0;
}

.firstDate {
  font-size: 16px;
  color: #272142;
}

.firstWeather {
  font-size: 13px;
  color: #272142;
}

.forecast {
  margin-top: 15px;
  text-align: center;
}

.main-weather {
  margin-bottom: 20px;
}

.minimumTemp {
  opacity: 80%;
}

.temperature-digit {
  font-weight: 300;
  font-size: 64px;
  line-height: 60px;
  color: #272142;
}

.temperature-unit {
  position: relative;
  font-size: 15px;
}

.weather-app {
  border: 1px solid #774181;
  border-radius: 5px;
  padding: 25px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 40px auto;
}

.weather-temperature img {
  margin-right: 9px;
  max-width: 64px;
  line-height: 60px;
}

.weather-temperature .active {
  color: #272142;
  text-decoration: none;
  font-weight: bold;
}

.weather-temperature .active:hover {
  cursor: default;
}

#condition:first-letter {
  text-transform: capitalize;
}

#search-box {
  margin-bottom: 20px;
}

#search-bttn {
  padding: 5px 15px;
  width: 100;
  border: 1px solid #272142;
  border-radius: 5px;
  color: white;
  background: #774181;
}
